body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: center;
}

.stuart-iframe-container {
  overflow: hidden;
  padding-top: 20%;
  position: relative;
}
 
.stuart-iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
   margin: auto;
}
 
/* 4x3 Aspect Ratio */
.stuart-iframe-container-4x3 {
  padding-top: 75%;
}

.claire-iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
 
.claire-iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
   margin: auto;
}
 
/* 4x3 Aspect Ratio */
.claire-iframe-container-4x3 {
  padding-top: 75%;
}

.oliver-iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
 
.oliver-iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
   margin: auto;
}
 
/* 4x3 Aspect Ratio */
.oliver-iframe-container-4x3 {
  padding-top: 75%;
}